#upload_form {
    display: none;
    margin-top: 20px;
    padding: 16px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    border-radius: 6px;
    max-width: 400px;
}
#hide_upload {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}
#hide_upload:hover {
    color: #0056b3;
}
.success {
    color: green;
}
.error {
    color: red;
}
.show {
    display: block;
}
.hide {
    display: none;
}

.file-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(116, 116, 116);
    width: 30rem;
}
.menu {
    position: relative;
}
.dropdown {
    display: none;
    position: absolute;
    right: 0;
    z-index: 100;
    background: #fff;
    border: 1px solid #ccc;
}
.dots-btn {
    /* Add any desired button styling here */
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    font-size: 11px;
    color: #333;
}
.dropdown button {
    color: red;
    background: none;
    border: none;
    cursor: pointer;
}
.dropdown button:hover {
    background: #a0a0a0;
}

/*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}