{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'xel/css/style.css' %}?v={% now 'U' %}">
    <script src="{% static 'xel/js/xel.js' %}?v={% now 'U'}" defer></script>
    <title>{% block title %} Elda {% endblock %}</title>
</head>
<body>
    <div>
        {% if user.is_authenticated and user.userprofile.is_admin %}
            <p>Welcome, {{ user.username }}.</p>
        {% else %}
            <a href="{% url 'admin_login' %}">Login</a>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>