{% extends 'xel/admin_layout.html' %}

{% block title %} Admin Page {% endblock %}
{% block content %}
<h2>Admin Content Management</h2>
<h3>Uploaded Excel Files</h3>
<ul>
    {% if error %}
        <li class="error">{{ error }}</li>
    {% endif %}

    {% if upload_form.error %}
        <div class="error">
            <p>Please correct the error below</p>
            <ul>
                {% for field in upload_form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
                {% if upload_form.non_field_errors %}
                    <li>{{ upload_form.non_field_errors|striptags }}</li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {% for file in files %}
        <div class="file-row" id="file-row-{{ file.id }}">
            <span>{{ file.file.name }} (Uploaded on: {{ file.uoloaded_at }})</span>
            <span class="delete-file" data-file-id="{{ file.id }}">Delete</span>
        </div>
    {% empty %}
        <li> No files uploaded.</li>
    {% endfor %}
</ul>
<a href="#" id="hide_upload">Upload New Excel File</a>

<div id="upload_form" style="display: none;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ upload_form.as_p }}
        <button type="submit">Upload</button>
    </form> 

</div>
{% endblock %}

