{% extends "xel/layout.html" %}
{% load static %}


{% block content %}
<h2>Search Narration</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>

<div id="results_box" class="{% if show_results %}show{% else %}hide{% endif %}" style="margin-top:20px;">
    {% if show_results %}
        <h3>Results for "{{ query }}"</h3>
        {% if results %}
            <ol>
            {% for res in results %}
                <li>{{ res }}</li>
            {% endfor %}
            </ol>
        {% else %}
            <p>No matches found.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}