{% extends "xel/layout.html" %}
{% load static %}

{% block content %}
<h2>Search Narration</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>

{% if show_results %}
    <h3>Results for "{{ query }}"</h3>
    {% if results %}
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Narration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for res in results %}
                    <tr>
                        <td>{{ res.number }}</td>
                        <td>{{ res.narration }}</td>
                        <td><a href="{% url 'generate_pdf' res.id %}" class="btn">Print</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Pagination controls -->
        {% if page_obj.has_other_pages %}
            <div class="pagination">
                <span>
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <p>No matches found.</p>
    {% endif %}
{% endif %}
<a href="{% url 'logout' %}">Logout</a>
{% endblock %}