*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #883c3c;
    --secondary-color: #f4f4f4;
    --text-color: #333;
    --footer-bg-color: #111111;
    --footer-text-color: #fff;
}

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}   
body {
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    color: var(--primary-color);
    font-weight: bold;
}

.body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}

form {
    margin: 20px 0;
}

input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

ul {
    list-style: none;
    text-align: left;
    max-width: 600px;
    margin: 20px auto;
}

li {
    padding: 10px;
    background: #fff;
    margin-bottom: 5px;
}

footer {
    width: 100%;
    height: 10%;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
footer p {
    margin: 0;
    margin-right: 2em;
    font-size: 14px;
}